In [1]:
from constellation_utils import SatConstellation as sc
from skyfield.api import load
from tzwhere import tzwhere
import datetime
import pytz

In [2]:
position = (36.9741, -122.0308)

In [3]:
tz = tzwhere.tzwhere()
zone = tz.tzNameAt(position[0], position[1])
tzinfo = pytz.timezone(zone)
tzinfo.zone

'America/Los_Angeles'

In [4]:
start = datetime.datetime(2020, 1, 5, 0, 0, 0, 0, tzinfo=tzinfo)
end = datetime.datetime(2020, 1, 7, 0, 0, 0, 0, tzinfo=tzinfo)
time = (start, end)
start.tzinfo.zone

'America/Los_Angeles'

In [5]:
star = sc('STARLINK')
star.generatePasses(position, time)

In [6]:
star.generateSchedule()

In [8]:
df = star.getSchedule()
df.head(8)

,RISE TIME,CULMINATE TIME,SET TIME
ASSET,,,
STARLINK-1447,2020 Jan 05 00:10:23,2020 Jan 05 00:10:52,2020 Jan 05 00:11:18
STARLINK-1254,2020 Jan 05 00:15:30,2020 Jan 05 00:15:43,2020 Jan 05 00:16:19
STARLINK-1629,2020 Jan 05 00:24:16,2020 Jan 05 00:24:30,2020 Jan 05 00:25:00
STARLINK-1447,2020 Jan 05 00:37:42,2020 Jan 05 00:38:15,2020 Jan 05 00:38:44
STARLINK-1774,2020 Jan 05 00:44:02,2020 Jan 05 00:44:10,2020 Jan 05 00:44:20
STARLINK-1370,2020 Jan 05 00:47:50,2020 Jan 05 00:47:58,2020 Jan 05 00:48:08
STARLINK-1351,2020 Jan 05 00:52:19,2020 Jan 05 00:52:33,2020 Jan 05 00:52:48
STARLINK-1437,2020 Jan 05 00:57:33,2020 Jan 05 00:57:37,2020 Jan 05 00:57:42