In [1]:
from constellation_utils import SatConstellation as sc
from skyfield.api import load
from tzwhere import tzwhere
import datetime
import pytz

In [2]:
position = (36.9741, -122.0308)
start = datetime.date(2020, 1, 5)
end = datetime.date(2020, 1, 7)
time = (start, end)

In [3]:
tz = tzwhere.tzwhere()
zone = tz.tzNameAt(position[0], position[1])
zone

'America/Los_Angeles'

In [3]:
star = sc('starlink')
star.generatePasses(position, time, 'America/Los_Angeles')

In [4]:
star.generateSchedule()

In [6]:
df = star.getSchedule()
df.head(8)

,RISE TIME,CULMINATE TIME,SET TIME
ASSET,,,
STARLINK-1620,2020 Jan 04 16:00:15,2020 Jan 04 16:01:49,2020 Jan 04 16:03:36
STARLINK-1546,2020 Jan 04 16:01:58,2020 Jan 04 16:02:17,2020 Jan 04 16:00:18
STARLINK-1635,2020 Jan 04 16:02:45,2020 Jan 04 16:04:19,2020 Jan 04 16:06:06
STARLINK-1163,2020 Jan 04 16:02:47,2020 Jan 04 16:04:06,2020 Jan 04 16:06:11
STARLINK-1805,2020 Jan 04 16:02:55,2020 Jan 04 16:04:18,2020 Jan 04 16:06:03
STARLINK-1170,2020 Jan 04 16:04:04,2020 Jan 04 16:05:25,2020 Jan 04 16:07:30
STARLINK-1546,2020 Jan 04 16:04:17,2020 Jan 04 16:04:36,2020 Jan 04 16:02:37
STARLINK-1633,2020 Jan 04 16:05:47,2020 Jan 04 16:07:11,2020 Jan 04 16:08:38

In [8]:
df.loc['STARLINK-1620']

,RISE TIME,CULMINATE TIME,SET TIME
ASSET,,,
STARLINK-1620,2020 Jan 04 16:00:15,2020 Jan 04 16:01:49,2020 Jan 04 16:03:36
STARLINK-1620,2020 Jan 04 22:49:05,2020 Jan 04 22:50:17,2020 Jan 04 22:51:48
STARLINK-1620,2020 Jan 05 16:16:20,2020 Jan 05 16:16:20,2020 Jan 05 16:16:55
STARLINK-1620,2020 Jan 05 23:03:31,2020 Jan 05 23:04:42,2020 Jan 05 23:07:28
STARLINK-1620,2020 Jan 06 14:49:47,2020 Jan 06 14:49:47,2020 Jan 06 14:51:07

In [18]:
ts = load.timescale()
start

datetime.date(2020, 1, 5)

In [19]:
tz = pytz.timezone(zone)
tz.local

AttributeError: 'America/Los_Angeles' object has no attribute 'local'

In [5]:
timezone1 = pytz.timezone(zone)
timezone1

In [16]:
startnew = start.time(hour=0, minute=0, second=0)
startnew

AttributeError: 'datetime.date' object has no attribute 'time'

In [12]:
startnew = start.astimezone(timezone1)

AttributeError: 'datetime.date' object has no attribute 'astimezone'

In [21]:
time = ts.now()
time

In [22]:
time.ut1_strftime()

'2021-01-07 07:04:23 UT1'

In [23]:
start12 = ts.from_datetime(start)

AttributeError: 'datetime.date' object has no attribute 'tzinfo'